header {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
    overflow: hidden;
  }

  header img{
    width: 250px;
    height: auto;

}
 
  
  header h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-body {
    border-radius: 10px;
  }
  
  table th {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
  }
  
  table td {
    vertical-align: middle;
  }
  
  .badge {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
  }
  
  .btn-danger {
    background-color: #DE0031;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #DE0031;
  }
  
  .form-control,
  .form-select {
    width: 100%;
    max-width: 150px;
    margin: auto;
    text-align: center;
  }
  
  
  