<header class="d-flex justify-content-between align-items-center p-3 mb-4 bg-light rounded shadow-sm">
  <img src="images\logo.png" alt="">
  <h1 class="m-0 text-center flex-grow-1">Gestión de salas</h1>
</header>

<div class="card shadow">
  <div class="card-body">
    <table class="table text-center">
      <thead>
        <tr>
          <th>Número de sala</th>
          <th>Número de equipos</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sala of salas">
          <td>{{ sala.numero }}</td>
          <td>
            <span>{{ sala.equipos}} Equipos</span>
          </td>
          <td>
            <span>{{sala.estado}}</span>
          </td>
          <td>
            <button [routerLink]="'/detalles'" class="btn btn-danger btn-sm">Ver detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  
  
  