<header class="d-flex justify-content-between align-items-center p-3 mb-4 bg-light rounded shadow-sm">
    <img src="\images\logo.png" alt="Logo" />
</header>

<div class="container">
    <div class="form-container">
        <h1>Bienvenido!</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Ingresa tu nombre" />
                <div *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched" class="text-danger">
                    <small *ngIf="loginForm.get('name')?.errors?.['required']">El nombre es obligatorio.</small>
                    <small *ngIf="loginForm.get('name')?.errors?.['pattern']">El nombre no puede contener números.</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingresa tu correo" />
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                    <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
                    <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato de correo inválido.</small>
                    <small *ngIf="loginForm.get('email')?.errors?.['uniempresarialEmail']">
                        El correo debe terminar en uniempresarial.edu.co.
                    </small>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                    <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
                    <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Debe tener mínimo 8 caracteres.</small>
                </div>
            </div>

            <button [routerLink]="'/login'" type="submit" class="btn btn-primary w-100 mb-3" [disabled]="loginForm.invalid">Ingresar</button>

            <button type="button" class="btn btn-outline-danger w-100" (click)="loginWithGoogle()">
                <i class="bi bi-google me-2"></i> Iniciar sesión con Google
            </button>
        </form>
    </div>
</div>



